.vscode/launch.json
.vscode/settings.json
.history/test_20220602121633.py
.history/test_20220602121638.py
Test/Test0.png
Programming-In-Python\.vscode

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!Programming-In-Python\.vscode

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
